.navbar-brand{
    padding: 10px 20px;
    font-weight: 800;
    color: #fff;
}
.navbar-nav>li.nav-item>a{
    padding: 10px 20px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}
.masthead{
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: #868e96;
    position: relative;
    background-size: cover;
}
.site-heading{
    text-align: center;
    padding: 200px 0;
    color: #fff;
}
.fixed-top{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}
.site-heading h1{
    font-size: 80px;
    font-weight: 800;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.sub-heading{
    font-size: 24px;
    font-weight: 300;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    background-color: #212529;
    opacity: .5;
}